<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-md-6">
        <div>
          <hr>
          <h4 class="social-media-title">CONNECT WITH US</h4>
          <ul class="social-network-list">
            <li class="social-networks github"><a href="https://github.com/kenweechin/recipe-app" target="_blank" rel="noopener"
              title="github"><i class="fab fa-github-square"></i></i></a></li>
            <li class="social-networks facebook"><a href="https://www.facebook.com" target="_blank" rel="noopener"
                title="facebook"><i class="fab fa-facebook-square"></i></a> </li>
            <li class="social-networks linkedin"><a href="https://www.linkedin.com" target="_blank" rel="noopener"
                title="linkedin"><i class="fab fa-linkedin"></i></a></li>
            <li class="social-networks"><a href="https://www.youtube.com" target="_blank" rel="noopener"
                title="youtube"><i class="fab fa-youtube-square"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
        © 2022 Copyright Ken Wee Chin
        </div>
      </div>
    </div>
  </div>
</footer>