@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Playfair+Display&display=swap');

.text-shadow {
    text-shadow: 2px 2px 2px rgba(80, 13, 13, 0.4)
}

nav .brand-logo {
    color: #9b4102;
}

.sidenav-text {
    color: #f30d66;
}

.brand-logo,
.sidenav li>a,
.register-header {
    font-family: 'playfair display', sans-serif;
}

nav ul a {
    font-family: 'Playfair Display';
    color: #9b4102;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    height: 64px;
    line-height: 64px;
    padding-left: 2rem;
    padding-right: 0.5rem;
}

.flash-message h3 {
    line-height: 2;
}

.slider .indicators .indicator-item {
    display: none;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background: rgba(0, 0, 0, .5);
}

.container {
    width: 100%;
}

h3,
h5 {
    font-family: 'playfair display', sans-serif;
}

#recipe-variation {
    font-family: 'playfair display', sans-serif;
    text-align: center;
    margin-top: 0;
}

.card .card-image .card-title {
    color: black;
    font-family: 'playfair display', sans-serif;
    position: relative;
}

#recipe-breakfast,
#recipe-lunch,
#recipe-dinner {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'playfair display', sans-serif;
}

.login-background-image {
    background: url("../images/login-image.jpg")no-repeat center;
    min-height: 100vh;
    background-size: cover;
    opacity: 0.9;
}

.login-header {
    margin-top: 0;
}

#username-login,
#password-login {
    color: black;
}

.user-login,
.password-login {
    color: white;
}

.login-header {
    text-align: center;
    border: none;
    color: #fff;
    padding: 0.7em 1.7em;
    border-radius: 0.5em;
    background: #ab89892e;
    border: 0.1rem solid #e8e8e8;
    transition: all .3s;
    box-shadow: 0.3rem 0.3rem 0.3rem #c5c5c5, 0.3rem 0.3rem 0.3rem #ffffff;
}

.sign-in-divert-link {
    font-family: 'playfair display', sans-serif;
    font-weight: bold;
    padding-top: 1.5rem;
}

.register-background-image {
    background: url("../images/register-image.jpg")no-repeat center;
    min-height: 100vh;
    background-size: cover;
}

#register-element {
    background: rgba(145, 71, 71, 0.4);
    z-index: 1;
    padding-bottom: 2rem;
}

.register-header {
    margin: 0;
    text-align: center;
    border: none;
    color: rgb(0 0 0);
    padding: 0.7em 1.7em;
    border-radius: 0.5em;
    background: #ab89892e;
    border: 0.3rem solid #e8e8e8;
    transition: all .3s;
    box-shadow: 0.6rem 0.6rem 1.2rem #c5c5c5, 0.6rem 0.6rem 1.2rem #ffffff;
}

.fa-user-plus,
.fa-user-lock {
    color: white;
}

.input-field.col .prefix~label,
.input-field.col .prefix~.validate~label {
    color: black;
    font-weight: bold;
    font-style: italic;
}

.container-login-button,
.container-register-button {
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Button design is derived and edited from https://cssbuttons.io/detail/westitan/mean-falcon-52  */
/******************* button designation for Log In and Sign Up page ********************/
.register-button,
.login-button {
    position: relative;
    padding: 19px 36px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
}

button span {
    position: relative;
    color: #fff;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}

button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #3d155f;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}

button .liquid::after,
button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
}

button .liquid::before {
    border-radius: 45%;
    background: #df678c;
    animation: animate 5s linear infinite;
}

button .liquid::after {
    border-radius: 40%;
    background: #df678c;
    animation: animate 10s linear infinite;
}

button:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

.container-addrecipe {
    padding: 4rem;
}

.btn, .btn-large, .btn-small {
    background-color: #d10303;
    border-radius: 2rem;
    margin: 2rem;
}

.btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i {
    font-size: 1rem;
    line-height: inherit;
}

/******************* footer section for all pages ********************/
.social-network-list {
    text-align: center;
    padding: 0;
}

.social-networks {
    display: inline-block;
}

.social-networks i {
    font-size: 2rem;
    padding: 1rem;
    color: #4E8098;
}

.footer-copyright {
    font-family: 'playfair display', sans-serif;
    font-size: 0.9rem;
    margin-top: 0.9rem;
    text-align: justify;
    text-align: center;
}

.social-media-title {
    font-family: 'playfair display', sans-serif;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1.1rem;
    text-align: center;
}

/******************* screen responsiveness adjustment ********************/
@media screen and (min-width: 320px) {
    h3.register-header {
        font-size: 2rem;
    }

    #recipe-variation {
        font-size: 2rem;
    }

    button span {
        position: relative;
        color: #fff;
        font-family: Arial;
        letter-spacing: 3px;
        z-index: 1;
    }
}

@media screen and (min-width: 993px) {
    a.brand-logo {
        left: 42%;
    }
}