{% extends "base.html" %}
{% block content %}

<section>
<div class="container-addrecipe">
    <h3 class="black-text center-align my-recipe-title">My Recipe</h3>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <!-- recipe name-->
                <div class="input-field col s12">
                    <i class="fas fa-book prefix"></i>
                    <textarea id="recipe_name" name="recipe_name" minlength="5" maxlength="20" class="materialize-textarea" required></textarea>
                    <label for="recipe_name">Create Your Recipe Name</label>
                </div>
            </div>

            <div class="row">
                <!-- recipe description-->
                <div class="input-field col s12">
                    <i class="far fa-edit prefix"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="20" class="materialize-textarea" required></textarea>
                    <label for="recipe_description">Describe Your Recipe</label>
                </div>
            </div>
 
            <div class="row">
                <!-- recipe meal type category selection-->
                <div class="input-field col s12 m4">
                    <select class="validate" id="category_name" name="category_name" required>
                        <option value="" disabled selected>Choose your meal type</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Meal Type</label>
                </div>
                <!-- recipe dietery selection-->
                <div class="input-field col s12 m4">
                    <select class="validate" id="diet_type" name="diet_type" required>
                        <option value="" disabled selected>Choose your diet type</option>
                        {% for diet in dietery %}
                            <option value="{{ diet.diet_type }}">{{ diet.diet_type }}</option>
                        {% endfor %}
                    </select>
                    <label for="diet_type">Dietery</label>
                </div>
                <!-- recipe serving-->
                <div class="input-field col s12 m4">
                    <i class="fas fa-utensils prefix"></i>
                    <textarea id="recipe_serving" name="recipe_serving" class="materialize-textarea" required></textarea>
                    <label for="recipe_serving">Serving Size</label>
                </div>
            </div>
            <!-- recipe preparation time and cooking time-->
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="fas fa-stopwatch prefix"></i>
                            <input id="recipe_preparation_time" name="recipe_preparation_time" type="text" class="validate" required>
                            <label for="recipe_preparation_time">Preparation Time</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="fas fa-stopwatch prefix"></i>
                            <input id="recipe_cooking_time" name="recipe_cooking_time" type="text" class="validate" required>
                            <label for="recipe_cooking_time">Cooking Time</label>
                        </div>
                    </div>
            </div>
            <!-- recipe ingredients-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea" required></textarea>
                    <label for="recipe_ingredients">Ingredients(New Line For Each)</label>
                </div>
            </div>
            <!-- recipe method-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-alt prefix"></i>
                    <textarea id="recipe_method" name="recipe_method" class="materialize-textarea" required></textarea>
                    <label for="recipe_method">Methods(New Line For Each)</label>
                </div>
            </div>
            <!-- image URL-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-alt prefix"></i>
                    <input id="image" type="url" class="validate" required>
                    <label for="image">Upload Your Image</label>
                </div>
            </div>
            <!-- submit button-->
            <div class= "row">
                <div class="col s12 center-align">
                    <button class="btn-large darken-1 dark-orange text-shadow" type="submit">
                       Create Recipe
                </div>
            </div>
        </form>
    </div>
</div>
</section>
{% endblock %}