{% extends "base.html" %}
{% block content %}

<div class="slider">
  <ul class="slides">
    <li>
      <img src="{{url_for('static', filename='images/landing.jpg')}}">
      <div class="caption center-align">
        <h3>A Platform for Food Lover!</h3>
        <br>
        <h5 class="light grey-text text-lighten-3">Create and Share Your Recipe!</h5>
      </div>
    </li>
  </ul>
</div>

<hr>

<div>
  <h3 id="recipe-variation">Recipe Variations</h3>
</div>

<hr>

<div class="row recipe-choice">
  <div class="col s12 m4" id="breakfast">
    <div class="z-depth-5">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/breakfast.jpg')}}">
          <h4 id="recipe-breakfast">BREAKFAST</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4" id="lunch">
    <div class="z-depth-5">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/lunch.jpg')}}">
          <h4 id="recipe-lunch">LUNCH</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4" id="dinner">
    <div class=" z-depth-5">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/dinner.jpg')}}">
          <h4 id="recipe-dinner">DINNER</h4>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}