{% extends "base.html" %}
{% block content %}

<body>
    <section class="login-background-image">
        <div class="row" id="login-element">
            <h3 class="login-header center-align">Log In</h3>
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input id="username" name="username" type="text" minlength="4" maxlength="20"
                            pattern="^[a-zA-Z0-9]{4,20}$" class="validate user-login" required>
                        <label for="username" id="username-login">First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input id="password" name="password" type="password" minlength="6" maxlength="20"
                            pattern="^[a-zA-Z0-9]{6,20}$" class="validate password-login">
                        <label for="password" id="password-login">Password</label>
                    </div>
                </div>
                <div class="container-login-button">
                    <button type="submit" class="login-button">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>
</body>

{% endblock %}