{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div>
            <h2 class="center-align dark-green text-darken">
                {{ username }}'s Recipe
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn"><i class="material-icons center">Click Me To Add New
                Recipe</i>
        </a>
    </div>
</div>

 
<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m3">

      <div class="card medium">

        <div class="card-image">
          <img src="{{ recipe.image_url }}">
        </div>

        <div class="card-content">
          <h5>{{ recipe.category_name }}</h5>
          <h5>{{ recipe.recipe_name }}</h5>  
          <h5>{{ recipe.diet_type }}</h5>
          <h5>{{ recipe.recipe_serving }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}