{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div>
            <h2 class="center-align dark-green text-darken">
                {{ username }}'s Recipe
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn"><i class="material-icons center">Click Me To Add New
                Recipe</i>
        </a>
    </div>
</div>

 
<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m3">

      <div class="card medium">

        <div class="card-image">
          <img src="{{ recipe.image_url }}">
        </div>

        <div class="card-content">
          <h5 class="card-category-name">{{ recipe.category_name }}</h5>
          <div class="col s12 uppercase recipe-name">{{ recipe.recipe_name }}</div>
          <div class="col s12 uppercase diet-type">{{ recipe.diet_type }}</div>
          <div class="col s12 uppercase recipe-serving">{{ recipe.recipe_serving }}</div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}